---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import StatusBar from "../components/StatusBar.astro";
import { ClientRouter } from "astro:transitions";

interface StatusBoxData {
    label: string;
    value: string;
    textColor?: string;
    textOutlineColor?: string;
}

interface ToggleData {
    leftLabel: string;
    rightLabel: string;
    defaultSelected?: 'left' | 'right';
}

interface SearchBarData {
    placeholder?: string;
}

interface TagDropdownData {
    tags?: string[];
    placeholder?: string;
}

interface Props {
    title: string;
    statusBoxes?: StatusBoxData[];
    searchBar?: SearchBarData;
    toggle?: ToggleData;
    tagDropdown?: TagDropdownData;
    displayLogo?: boolean;
}

const { title, statusBoxes, searchBar, toggle, tagDropdown, displayLogo } = Astro.props;
---

<!-- Main Webpage -->
<html lang="en">
    <!-- Head -->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <ClientRouter />
    </head>
    <!-- Body -->
    <body class="h-screen w-screen overflow-hidden flex flex-col hp-checker-background">
        <!-- App Frame -->
        <div class="app-frame">
            <div class="frame-border"></div>
            <!-- Status Bar -->
            <slot name="topbar">
                <StatusBar 
                    statusBoxes={statusBoxes}
                    searchBar={searchBar}
                    toggle={toggle}
                    tagDropdown={tagDropdown}
                    displayLogo={displayLogo}
                />
            </slot>
            <!-- Content Per Page Goes Here! -->
            <main class="flex-1 h-full overflow-y-auto relative scroll-smooth p-6">
                <slot />
            </main>
            <!-- Footer / Navbar -->
            <NavBar />
        </div>
    </body>
</html>

<!-- Styles for the App Layout -->
<style>
    /* Hacky way to mimick the game's window frame */
    .app-frame {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .frame-border {
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: 99;
        border: clamp(8px, 1.5vw, 20px) solid #16638b;
        border-bottom: none;
        box-shadow:
            /* Outer glow */ inset 0 0 20px rgba(33, 162, 222, 0.4),
            /* Inner edge highlight */ inset 0 0 0 3px #21a2de,
            /* Inner depth shadow */ inset 0 0 30px rgba(15, 63, 87, 0.6);
    }
</style>
